spring:
  devtools:
    livereload:
      enabled: false
  datasource:
    url: jdbc:h2:file:./build/h2db/db/forecast2023
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true